asgiref==3.5.2
Django==4.0.6
joblib==1.1.0
numpy==1.23.1
python-decouple==3.6
scikit-learn==1.1.1
scipy==1.8.1
sklearn==0.0
sqlparse==0.4.2
threadpoolctl==3.1.0
tzdata==2022.1
gunicorn==20.0.4
os-sys==2.1.4
pickleshare==0.7.5
pickle5==0.0.10